{% extends "base.html" %}
{% block content %}
  <h1>{% if form.instance.pk %}Редактировать{% else %}Создать{% endif %} запись</h1>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#id_type').change(function() {
                var typeId = $(this).val();
                $('#id_category').html('<option value="">---------</option>');
                $('#id_subcategory').html('<option value="">---------</option>');

                if (typeId) {
                    $.ajax({
                        url: "{% url 'ajax_load_categories' %}",
                        data: {
                            'type_id': typeId
                        },
                        success: function(data) {
                            $.each(data, function(index, category) {
                                $('#id_category').append($('<option>', {
                                    value: category.id,
                                    text: category.name
                                }));
                            });
                        }
                    });
                }
            });

            $('#id_category').change(function() {
                var categoryId = $(this).val();
                $('#id_subcategory').html('<option value="">---------</option>');

                if (categoryId) {
                    $.ajax({
                        url: "{% url 'ajax_load_subcategories' %}",
                        data: {
                            'category_id': categoryId
                        },
                        success: function(data) {
                            $.each(data, function(index, subcategory) {
                                $('#id_subcategory').append($('<option>', {
                                    value: subcategory.id,
                                    text: subcategory.name
                                }));
                            });
                        }
                    });
                }
            });
        });
    </script>
</form>
{% endblock %}
